<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap uap3 mp">
  <Identity Name="49427davSoftwareDevelopme.UniversalSoundBoard" Publisher="CN=34761CCA-A79E-46B8-A1BC-D17F44039844" Version="2.3.0.0" />
  <mp:PhoneIdentity PhoneProductId="7f4933bf-68e5-4484-8d10-685389e26ae0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UniversalSoundboard</DisplayName>
    <PublisherDisplayName>dav Apps</PublisherDisplayName>
    <Logo>Assets\Icons\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UniversalSoundBoard.App">
      <uap:VisualElements DisplayName="UniversalSoundboard" Square150x150Logo="Assets\Icons\Square150x150Logo.png" Square44x44Logo="Assets\Icons\Square44x44Logo.png" Description="Create your own soundboard! Add images to your sounds and sort them in categories to keep track of all your sounds." BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Icons\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\Wide310x150Logo.png" ShortName="UniversalSoundboard" Square310x310Logo="Assets\Icons\Square310x310Logo.png" Square71x71Logo="Assets\Icons\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Icons\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.wav</uap:FileType>
              <uap:FileType>.ogg</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>StorageItems</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="HotkeyConnection"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>